<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <%= form_tag "/payment/", method: "payment" do %>
      <!-- image-preview-filename input [CUT FROM HERE]-->
      <div class="input-group image-preview">
        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
        <span class="input-group-btn">
          <!-- image-preview-clear button -->
          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear
          </button>
          <!-- image-preview-input -->
          <div class="btn btn-default image-preview-input">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="image/png, image/jpeg, image/gif" name="payment_proof"/> <!-- rename it -->
          </div>
          <div class="actions">
            <input type="submit" value="Upload" class="btn btn-primary" />
          </div>
        </span>
      </div><!-- /input-group image-preview [TO HERE]-->
      <% end %>
    </div>
  </div>
</div>
