
<div class="container gallery-container">
  <div class = "page-header" style="text-align: center; margin: 40px 0;">
     <h1>
       Inscription aux compétitions
     </h1>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <%= image_tag "Colisee.jpg", alt: "Colisée", class: "img-responsive" %>
        <div class="overlay">
          <h2>Colisée de Carthage</h2>
          <a class="info" href="/signup/?id=1">Inscrivez-vous</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <%= image_tag "Conquete.jpg", alt: "Conquete", class: "img-responsive" %>
        <div class="overlay">
          <h2>La conquête de la Méditerranée</h2>
          <a class="info" href="/signup/?id=2">Inscrivez-vous</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <%= image_tag "Collecte.jpg", alt: "Collecte", class: "img-responsive" %>
        <div class="overlay">
          <h2>Collecte des Ressources</h2>
          <a class="info" href="/signup/?id=3">Inscrivez-vous</a>
        </div>
      </div>
    </div>
  </div>
</div>
